.comment-form {
  display: flex;
}

#comment-form {
  margin: 0 auto;
}

.comments-head {
  font-size: 20px;
}

#comments-body {
  margin: 25px;
}

.comment-text {
  display: block;
  margin-top: 20px;
}

.comment-submit {
  display: block;
  margin-top: 20px;
}

.comment {
  display: flex;
}

.comment p {
  margin: 0;
}

.user-info {
  color: gray;
  font-weight: bold;
}
